:root {
  --bg: #e8f0ed;
  --accent-bg: #b8c2bf;
  --text: #212529;
  --text-light: #495057;
  --border: #adb5bd;
  --accent: #2c636a;
  --accent-hover: #2a5055;
  --accent-text: #ffffff;
  --code: #1e7e34;
  --preformatted: #212529;
  --preformatted-bg: #d0d7d4;
  --marked-bg: #ffc107;
  --disabled-text: #6c757d;
}

body {
  -webkit-text-size-adjust: 100%;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 16%;
  height: auto;
  min-width: 160px;
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo-bracket {
  font-family: sans-serif;
  font-size: 30px;
  fill: var(--accent);
  dominant-baseline: central;
  text-anchor: middle;
}

.logo-ampersand {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: bold;
  fill: var(--accent);
  dominant-baseline: central;
  text-anchor: middle;
}


a span[aria-label="Opens in a new window"] small {
  font-size: 0.4em;
  vertical-align: middle;
  margin-left: 0.1em;
  color: var(--text-light);
}

.post-header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border);
}

.post-title {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.post-description {
  font-size: 0.9em;
  color: var(--text-light);
}

.post-meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.7em;
  color: var(--text-light);
}

.post-meta-secondary {
  order: 1;
}

.post-author {
  font-weight: bold;
}

.post-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.post-tag-item a {
  display: inline-block;
  padding: 0.3em 0.6em;
  border: 1px solid var(--border);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text);
  font-size: 0.75em;
}

.post-tag-item a:hover {
  background-color: var(--accent-bg);
  border-color: var(--accent);
}
