{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $isMain := eq $menuID "main" | default false }}

{{- with index site.Menus $menuID }}
    <ul>
        {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $link := .URL }}
    {{- $linkTitle := .Title }}
    {{- $linkText := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $linkText = . }}
      {{- end }}
    {{- end }}
    {{- $hover := .Pre }}
    <li>
      {{ partial "_functions/render-link.html" (dict "Destination" $link "Text" $linkText "Title" $linkTitle) }}
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}