{{- $menuID := default "main" }}
{{- with index site.Menus $menuID }}
<nav id="main-navigation" class="menu" role="navigation" aria-label="Main Navigation">
  <div id="menu-toggle">
    <input type="checkbox" id="menu-checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      {{- range . }}
        {{- $link := .URL }}
        {{- $linkTitle := .Title }}
        {{- $linkText := .Name }}
        {{- with .Identifier }}
          {{- with T . }}
            {{- $linkText = . }}
          {{- end }}
        {{- end }}
        <li>
          {{ partial "_functions/render-link.html" (dict "Destination" $link "Text" $linkText "Title" $linkTitle) }}
        </li>
      {{- end }}
    </ul>
</div>
</nav>
{{- end }}