{{ define "main" }}
  <header>
    <h1 class="post-title">{{ .Title }}</h1>
    {{ with .Description }}
    <p class="post-description">{{ . }}</p>
    {{ end }}
    <div class="post-meta">
      <p class="post-meta-secondary">
        {{ with .ReadingTime }}<span class="reading-time">Estimated reading time: {{ . }} minutes</span>{{ end }}
        {{ with .WordCount }}<span class="word-count"> ({{ . }} words)</span>{{ end }}
      </p>
      <p>
        Published on 
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{- .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") -}}
        </time>
        {{ with .Params.author }}<span class="post-author">, written by {{- . -}}</span>{{ end }}
      </p>
    </div>
  </header>

  {{ if .Params.toc }}
  <details>
    <summary>Table of Contents</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}
  {{ .Content }}

  <footer>
    {{ with .GetTerms "tags" }}
    <nav aria-label="Tags">
      <ul class="post-tags">
        {{ range . }}
        <li class="post-tag-item">
          {{ partial "_functions/render-link.html" (dict
            "Destination" .RelPermalink
            "Text" (printf "#%s" .LinkTitle)
            "Title" (printf "View all posts tagged with %s" .LinkTitle)
          ) }}
        </li>
        {{ end }}
      </ul>
    </nav>
    {{ end }}
    {{ if .Params.ShowPostNavLinks }}
    <nav aria-label="Post navigation">
      {{ with .PrevInSection }}
      <span>Previous: </span>{{ partial "_functions/render-link.html" (dict
        "Destination" .Permalink
        "Text" .Title
        "Title" (printf "Previous post in %s section: %s" .Section .Title)
      ) }}
      {{ end }}
      {{ with .NextInSection }}
      <span>Next: </span>{{ partial "_functions/render-link.html" (dict
        "Destination" .Permalink
        "Text" .Title
        "Title" (printf "Next post in %s section: %s" .Section .Title)
      ) }}
      {{ end }}
    </nav>
    {{ end }}
    <p><a href="#top">[Top]</a></p>
  </footer>
{{ end }}